<!DOCTYPE html>
<html>

<head>
  <title>暑期課表</title>
  <style>
    .test {
      color: red;
    }

    .schedule-container {
      width: 90vw;
    }
  </style>
</head>

<body>
  <h1 class="test">112學年竹山高中暑期課表</h1>
  <div id="teacher-div">
    <input type="text" id="filterInput" placeholder="輸入代碼或名字搜尋">
    <select id="selectBox" size="5"></select>
    <!-- teacher table -->
    <h5><center id="teacher-header">請選擇教師</center></h5>
    <table border="2" align="center" cellspacing="1" cellpadding="1" id="class-table" class="schedule-container"
      style="display: none;">
      <tbody>
        <tr>
          <td colspan=2 align=center>&nbsp;</td>
          <td align=center width=15%><b>一</b></td>
          <td align=center width=15%><b>二</b></td>
          <td align=center width=15%><b>三</b></td>
          <td align=center width=15%><b>四</b></td>
          <td align=center width=15%><b>五</b></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- class index table -->
  <table border="2" align="center" cellspacing="1" cellpadding="1" id="class-table" class="schedule-container"
    style="display: none;">
    <tbody>
      <tr>
        <td colspan="5">美術班</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c103201.html">美二1</a></td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c103301.html">美三1</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">體育班</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c105201.html">體二1</a></td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c105301.html">體三1</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">綜合高中科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c109201.html">高二1</a></td>
        <td align="left"><a href=".\c109202.html">高二2</a></td>
        <td align="left"><a href=".\c109203.html">高二3</a></td>
        <td align="left"><a href=".\c109204.html">高二4</a></td>
        <td align="left"><a href=".\c109205.html">高二5</a></td>
      </tr>
      <tr>
        <td align="left"><a href=".\c109301.html">高三1</a></td>
        <td align="left"><a href=".\c109302.html">高三2</a></td>
        <td align="left"><a href=".\c109303.html">高三3</a></td>
        <td align="left"><a href=".\c109305.html">高三5</a></td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">商業經營科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c401301.html">商經三</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">廣告設計科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c406301.html">廣設三</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">多媒體設計科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c430201.html">多媒二</a></td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c430301.html">多媒三</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <!-- room index table -->
  <table border="2" align="center" cellspacing="1" cellpadding="1" id="room-table" class="schedule-container"
    style="display: none;">
    <tbody>
      <tr>
        <td align="left"><a href=".\r06.html">06 r302</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <script>
    const supportedPages = ["teacher", "classUnit", "classroom"];
    let showingCode = "";
    let teacherList = [];
    let showingPage = supportedPages[0];

    const teacherSelectBox = document.getElementById("selectBox");
    const filterInput = document.getElementById("filterInput");

    document.addEventListener("DOMContentLoaded", function (event) {
      fetchAndShowData();
    });

    filterInput.addEventListener("input", function () {
      if (showingPage !== "teacher") {
        return;
      }
      const filterValue = filterInput.value.toLowerCase();
      const filteredData = teacherList.filter(item => item.text.toLowerCase().includes(filterValue));
      populateSelectBox(filteredData);
    });

    teacherSelectBox.addEventListener("change", function () {
      const selectedOption = teacherSelectBox.options[teacherSelectBox.selectedIndex];
      const selectedValue = selectedOption.value;
      const selectedText = selectedOption.textContent;
      changeShow("teacher", selectedValue);
    });

    function populateSelectBox(options) {
      teacherSelectBox.innerHTML = "";
      options.forEach(option => {
        const optionElement = document.createElement("option");
        optionElement.textContent = option.text;
        optionElement.value = option.value;
        teacherSelectBox.appendChild(optionElement);
      });
    }

    function fetchAndShowData() {
      const url = "https://www.cshs.ntct.edu.tw/ischool/public/resource_view/openfid.php?id=11903";

      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then(data => {
          console.log(data);
          teacherSchedules = data["teacher"];
          teacherList = getTeacherList(teacherSchedules);
          populateSelectBox(teacherList);
        })
        .catch(error => {
          console.error("Error fetching data:", error);
          alert("Error fetching data. Please check the console for more information.");
        });
    }

    function getTeacherList(scheduleList) {
      if (!scheduleList || !scheduleList.length) {
        console.log("Error: invalid schedule list");
        return;
      }

      const result = [];
      for (const item of scheduleList) {
        result.push({
          text: `${item.code}-${item.name}`,
          value: item.code
        });
      }

      result.sort(function (a, b) {
        let x = a["value"];
        let y = b["value"];
        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
      });

      console.log("rrr", result);
      return result;
    }

    function changeShow(pageType, scheduleCode) {
      if (!supportedPages.includes(pageType)) {
        console.log("unsupported type: ", pageType);
        return;
      }

      showingPage = pageType;
      if (pageType === supportedPages[0]) {
        showingCode = "t" + scheduleCode;
      } else if (pageType === supportedPages[1]) {
        showingCode = "c" + scheduleCode;
      } else if (pageType === supportedPages[2]) {
        showingCode = "r" + scheduleCode;
      }
      console.log("change show to", pageType, showingCode);
    }
  </script>
</body>

</html>