<!DOCTYPE html>
<html>

<head>
  <title>暑期課表</title>
  <style>
    .test {
      color: red;
    }

    .schedule-container {
      width: 90vw;
    }
  </style>
</head>

<body>
  <h1>112學年竹山高中暑期課表</h1>
  <div id="teacher-div">
    <input type="text" id="filterInput" placeholder="輸入代碼或名字搜尋">
    <select id="selectBox" size="5"></select>
    <!-- teacher table -->
    <h5><center id="teacher-title">請選擇教師</center></h5>
    <table border="2" align="center" cellspacing="1" cellpadding="1" id="teacher-table" class="schedule-container">
      <tbody>
        <tr>
          <td colspan=2 align=center>&nbsp;</td>
          <td align=center width=15%><b>一</b></td>
          <td align=center width=15%><b>二</b></td>
          <td align=center width=15%><b>三</b></td>
          <td align=center width=15%><b>四</b></td>
          <td align=center width=15%><b>五</b></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- class index table -->
  <table border="2" align="center" cellspacing="1" cellpadding="1" id="class-table" class="schedule-container"
    style="display: none;">
    <tbody>
      <tr>
        <td colspan="5">美術班</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c103201.html">美二1</a></td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c103301.html">美三1</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">體育班</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c105201.html">體二1</a></td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c105301.html">體三1</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">綜合高中科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c109201.html">高二1</a></td>
        <td align="left"><a href=".\c109202.html">高二2</a></td>
        <td align="left"><a href=".\c109203.html">高二3</a></td>
        <td align="left"><a href=".\c109204.html">高二4</a></td>
        <td align="left"><a href=".\c109205.html">高二5</a></td>
      </tr>
      <tr>
        <td align="left"><a href=".\c109301.html">高三1</a></td>
        <td align="left"><a href=".\c109302.html">高三2</a></td>
        <td align="left"><a href=".\c109303.html">高三3</a></td>
        <td align="left"><a href=".\c109305.html">高三5</a></td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">商業經營科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c401301.html">商經三</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">廣告設計科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c406301.html">廣設三</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">多媒體設計科</td>
      </tr>
      <tr>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c430201.html">多媒二</a></td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
        <td align="left" width="20%">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><a href=".\c430301.html">多媒三</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <!-- room index table -->
  <table border="2" align="center" cellspacing="1" cellpadding="1" id="room-table" class="schedule-container"
    style="display: none;">
    <tbody>
      <tr>
        <td align="left"><a href=".\r06.html">06 r302</a></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <script>
    const supportedTypeKeys = ["teacher", "classUnit", "classroom"];
    const dayMap = {
      "一": 0,
      "二": 1,
      "三": 2,
      "四": 3,
      "五": 4,
    }
    let selectedCode = "";
    let teacherList = [];
    let teacherSchedules = [];
    let classSchedules = [];
    let roomSchedules = [];
    let showingPage = supportedTypeKeys[0];

    const teacherSelectBox = document.getElementById("selectBox");
    const filterInput = document.getElementById("filterInput");
    const teacherDiv = document.getElementById("teacher-div");
    const teacherTable = document.getElementById("teacher-table");
    const classTable = document.getElementById("class-table");
    const roomTabe = document.getElementById("room-table");
    const teacherTitle = document.getElementById("teacher-title");

    document.addEventListener("DOMContentLoaded", function (event) {
      fetchAndShowData();
    });

    filterInput.addEventListener("input", function () {
      if (showingPage !== "teacher") {
        return;
      }
      const filterValue = filterInput.value.toLowerCase();
      const filteredData = teacherList.filter(item => item.text.toLowerCase().includes(filterValue));
      populateSelectBox(filteredData);
    });

    teacherSelectBox.addEventListener("change", function () {
      const selectedOption = teacherSelectBox.options[teacherSelectBox.selectedIndex];
      const selectedValue = selectedOption.value;
      const selectedText = selectedOption.textContent;
      changeShow("teacher", selectedValue);
    });

    function isTeacherType(typeText) {
      return typeText.toLowerCase() === "t" || typeText.toLowerCase() === "teacher";
    }

    function isClassUnitType(typeText) {
      return typeText.toLowerCase() === "c" || typeText.toLowerCase() === "classunit";
    }

    function isClassroomType(typeText) {
      return typeText.toLowerCase() === "r" || typeText.toLowerCase() === "classroom";
    }

    function populateSelectBox(options) {
      teacherSelectBox.innerHTML = "";
      options.forEach(option => {
        const optionElement = document.createElement("option");
        optionElement.textContent = option.text;
        optionElement.value = option.value;
        teacherSelectBox.appendChild(optionElement);
      });
    }

    function fetchAndShowData() {
      // const url = "https://www.cshs.ntct.edu.tw/ischool/public/resource_view/openfid.php?id=11903";
      const url = "https://localhost:7141/";
      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then(data => {
          console.log(data);
          teacherSchedules = data["teacher"];
          classSchedules = data["class_unit"];
          roomSchedules = data["class_room"];
          teacherList = getTeacherList(teacherSchedules);
          populateSelectBox(teacherList);
        })
        .catch(error => {
          console.error("Error fetching data:", error);
          alert("Error fetching data. Please check the console for more information.");
        });
    }

    function getTeacherList(scheduleList) {
      if (!scheduleList || !scheduleList.length) {
        console.log("Error: invalid schedule list");
        return;
      }

      const result = [];
      for (const item of scheduleList) {
        result.push({
          text: `${item.code}-${item.name}`,
          value: item.code
        });
      }

      result.sort(function (a, b) {
        let x = a["value"];
        let y = b["value"];
        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
      });

      console.log("rrr", result);
      return result;
    }

    function changeShow(pageType, scheduleCode) {
      if (!supportedTypeKeys.includes(pageType)) {
        console.log("unsupported type: ", pageType);
        return;
      }

      showingPage = pageType;
      if (pageType === supportedTypeKeys[0]) {
        selectedCode = "t" + scheduleCode;
        toggleDsiplay("t");
      } else if (pageType === supportedTypeKeys[1]) {
        selectedCode = "c" + scheduleCode;
        toggleDsiplay("t");
      } else if (pageType === supportedTypeKeys[2]) {
        selectedCode = "r" + scheduleCode;
        toggleDsiplay("t");
      }
      console.log("change show to", pageType, selectedCode);

      const weekSchedule = getWeekSchedule(pageType, selectedCode);
      const displayObject = getDisplayObject(weekSchedule);
      refreshTable(pageType, displayObject);
    }

    function toggleDsiplay(scheduleType) {
      if (scheduleType === "t" || scheduleType === "teacher") {
        teacherDiv.style.display = "block";
        classTable.style.display = "none";
        roomTabe.style.display = "none";
      } else if (scheduleType === "c" || scheduleType === "classUnit") {
        teacherDiv.style.display = "none";
        classTable.style.display = "block";
        roomTabe.style.display = "none";
      } else if (scheduleType === "r" || scheduleType === "classroom") {
        teacherDiv.style.display = "none";
        classTable.style.display = "none";
        roomTabe.style.display = "block";
      }
    }

    function getWeekSchedule(typeKey, selectedCode) {
      if (!supportedTypeKeys.includes(typeKey)) {
        console.log("unsupported type key", typeKey);
        return null;
      }
      console.log("debug", teacherSchedules);
      console.log("debug", selectedCode);
      let weekSchedule = [];
      if (typeKey === "teacher") {
        return teacherSchedules.find(x => "t" + x.code === selectedCode);
      } else if (typeKey === "classUnit") {
        return classSchedules.find(x => "c" + x.code === selectedCode);
      } else if (typeKey === "classroom") {
        return roomSchedules.find(x => "r" + x.code === selectedCode);
      } else {
        console.log("unsupported type key", typeKey);
        return null;
      }
    }

    function getDisplayObject(scheduleJson) {
      console.log("debug: ", scheduleJson);
      let displayObject = {
        "name": scheduleJson.name,
        "code": scheduleJson.code,
        "timeTable": []
      }
      for (let i = 0; i < 8; i++) {
        displayObject.timeTable.push(Array(5).fill(null));
      }

      for (const dayKey in scheduleJson.schedule) {
        const dayIndex = dayMap[dayKey];
        const daySchedule = scheduleJson.schedule[dayKey];
        for (let i = 0; i < daySchedule.length; i++) {
          displayObject.timeTable[i][dayIndex] = daySchedule[i];
        }
      }
      console.log("displayObject: ", displayObject);
      return displayObject;
    }

    function refreshTable(pageType, displayObject) {
      if (isTeacherType(pageType)) {
        refreshTeacherDiv(displayObject);
      } else if (isClassUnitType(pageType)) {
        refreshClassTable(displayObject);
      } else if (isClassroomType(pageType)) {
        refreshRoomTable(displayObject);
      } else {
        console.log("unsupported page type");
      }
    }

    function refreshTeacherDiv(displayObject) {
      teacherTitle.text = displayObject.name;
      clearTableRows(teacherTable);
      for (let period = 0; period < 5; period++) {
        const timeTableRow = getTimeTableRow(period, displayObject);
        const trElement = createTimeTableTrElement(period, timeTableRow);
        teacherTable.append(trElement);
      }
    }

    function refreshClassTable(displayObject) {

    }

    function refreshRoomTable(displayObject) {
    }

    function clearTableRows(tableElement, includeHeader = false) {
      let rowIndex = 1;
      if (includeHeader) {
        rowIndex = 0;
      }
      for (let i = rowIndex; i < tableElement.rows.length; i++) {
        tableElement.deleteRow(i);
      }
    }

    function getTimeTableRow(period, displayObject) {
      const row = [];
      for (let dayIndex = 0; dayIndex < 5; dayIndex++) {
        row.push(displayObject.timeTable[dayIndex][period])
      }
      return row;
    }

    function createTimeTableTrElement(period, dataRow) {
      const newRow = document.createElement("tr");
      const periodTextTd = createChinesePeriodTdElement(period);
      const periodTimeTd = createPeriodTimeTdElement(period);
      newRow.appendChild(periodTextTd);
      newRow.appendChild(periodTimeTd);
      for (const cell of dataRow) {
        const td = document.createElement("td");
        let html = "";
        if (cell) {
          html = createTimeTableTdElement(cell);
        }
        console.log("debug-html: ", html);
        td.innerHTML = html;
        console.log("debug-td", td);
        newRow.appendChild(td);
      }
      return newRow;
    }

    function createTimeTableTdElement(cell) {
      let html = cell.subject;
      if (cell.class_unit) {
        html += `<br><a href="#">${cell.class_unit.text}</a>`;
      }
      if (cell.teacher) {
        html += `<br><a href="#">${cell.teacher.text}</a>`;
      }
      if (cell.class_room && cell.class_room.text) {
        html += `<br><a href="#">${cell.class_room.text}</a>`;
      }
      return html;
    }

    function createChinesePeriodTdElement(period) {
      const td = document.createElement("td");
      switch (period) {
        case 0: td.textContent = "第一節"; break;
        case 1: td.textContent = "第二節"; break;
        case 2: td.textContent = "第三節"; break;
        case 3: td.textContent = "第四節"; break;
        case 4: td.textContent = "第五節"; break;
        default:
          console.log("undefied period");
          break;
      }
      return td;
    }

    function createPeriodTimeTdElement(period) {
      const td = document.createElement("td");
      switch (period) {
        case 0: td.innerHTML = `08:00<br>|<br>08:50`; break;
        case 1: td.innerHTML = `09:10<br>|<br>10:00`; break;
        case 2: td.innerHTML = `10:10<br>|<br>11:00`; break;
        case 3: td.innerHTML = `11:10<br>|<br>12:00`; break;
        case 4: td.innerHTML = `13:10<br>|<br>14:00`; break;
        case 5: td.innerHTML = `14:10<br>|<br>15:00`; break;
        case 6: td.innerHTML = `15:15<br>|<br>16:05`; break;
        case 7: td.innerHTML = `16:10<br>|<br>17:00`; break;
        default:
          console.log("undefied period");
          break;
      }
      return td;
    }
  </script>
</body>

</html>